{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Gestión de Procesos
{% endblock %}

{% block header_title %}
    Gestión de procesos
{% endblock %}

{% block content %}
    <section id="procesos-existentes">
        <h2>Procesos Creados</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Prioridad</th>
                    <th>Recursos en Uso</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in proceso_creado %}
                <tr>
                    <td>{{ proceso.get_id_proceso() }}</td>
                    <td>{{ proceso.get_nombre_proceso() }}</td>
                    <td>{{ proceso.get_tamano_proceso() }}</td>
                    <td>{{ proceso.get_prioridad() }}</td>
                    <td>
                        {% if proceso.get_recursos_necesarios != 0 %}
                        {% for recurso in proceso.get_recursos_necesarios() %}
                        {{ recurso.get_nombre_recurso() }},
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ proceso.get_estado() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section id="proceso-en-ejecucion">
        <h2>Proceso en Ejecución</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Recursos</th>
                </tr>
            </thead>
            <tbody>
                {% if proceso_ejecucion %}
                <tr>
                    <td>{{ proceso_ejecucion.get_id_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_nombre_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_tamano_proceso() }}</td>
                    <td>
                        {% for recurso in proceso_ejecucion.get_recursos_necesarios() %}
                        {{ recurso.get_nombre_recurso() }},
                        {% endfor %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No hay proceso en ejecución.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
    <section id="recursos-utilizados">
        <h2>Recursos y Procesos Asignados</h2>
        <table>
            <thead>
                <tr>
                    <th>Recurso</th>
                    <th>Proceso Asignado</th>
                </tr>
            </thead>
            {% for recurso in recursos %}
            <tbody>
                <tr>
                    <td>{{ recurso.get_nombre_recurso() }}</td>
                    <td>
                        {% if recurso.get_proceso() %}
                        {{ recurso.get_proceso().get_nombre_proceso() }}
                        {% else %}
                        No asignado
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    </div>
{% endblock %}