{% extends 'base.html' %}

{% block title %}
{{ super()}}
Modelo de 5 estados
{% endblock %}

{% block header_title %}
Estados de procesos
{% endblock %}

{% block content %}
<div class="container" id="resultado">
    <section id="proceso-en-listo">
        <form action="/ejecutar_proceso" method="post">
            <button id="botonDeEjecucion" type="submit" class="btn btn-success">Ejecutar Procesos</button>
        </form>
        <!-- {% with titulo="Listos", procesos=procesos_prioridad1 %}
        {% include 'tabla.html' %}
        {% endwith %} -->
        <h2>Listo</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Tamaño</th>
                    <th>Prioridad</th>
                    <th>Recursos</th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in procesos_prioridad1 %}
                <tr>
                    <td>{{ proceso.get_id_proceso() }}</td>
                    <td>{{ proceso.get_nombre_proceso() }}</td>
                    <td>{{ proceso.get_tamano_proceso() }}</td>
                    <td>{{ proceso.get_prioridad() }}</td>
                    <td>
                        {% for recurso in proceso.get_recursos_necesarios() %}
                        {% if recurso.get_proceso() == proceso %}
                        {{ recurso.get_nombre_recurso() }}: Asignado.
                        {% else %}
                        {{ recurso.get_nombre_recurso() }}: Necesario.
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                {% for proceso in procesos_listos %}
                <tr>
                    <td>{{ proceso.get_id_proceso() }}</td>
                    <td>{{ proceso.get_nombre_proceso() }}</td>
                    <td>{{ proceso.get_tamano_proceso() }}</td>
                    <td>{{ proceso.get_prioridad() }}</td>
                    <td>
                        {% for recurso in proceso.get_recursos_necesarios() %}
                        {% if recurso.get_proceso() == proceso %}
                        {{ recurso.get_nombre_recurso() }}: Asignado.
                        {% else %}
                        {{ recurso.get_nombre_recurso() }}: Necesario.
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section id="proceso-en-ejecucion">
        <h2>Ejecución</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del Proceso</th>
                    <th>Tamaño</th>
                    <th>Prioridad</th>
                    <th>Recursos Asociados</th>
                </tr>
            </thead>
            <tbody>
                {% if proceso_ejecucion %}
                <tr>
                    <td>{{ proceso_ejecucion.get_id_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_nombre_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_tamano_proceso() }}</td>
                    <td>{{ proceso_ejecucion.get_prioridad() }}</td>
                    <td>
                        {% for recurso in proceso_ejecucion.get_recursos_necesarios() %}
                        {% if not recurso.get_proceso() %}
                        {{ recurso.get_nombre_recurso() }}: Disponible.
                        {% elif recurso.get_proceso() == proceso_ejecucion %}
                        {{ recurso.get_nombre_recurso() }}: Asignado.
                        {% else %}
                        {{ recurso.get_nombre_recurso() }}: Ocupado.
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
    <section id="proceso-en-bloqueado">
        <h2>Bloqueados</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del Proceso</th>
                    <th>Recursos Esperado</th>
                </tr>
            </thead>
            <tbody>
                {% if bloqueados.DiscoDuro %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.DiscoDuro }}</td>
                    <td>Disco duro</td>
                </tr>
                {% endif %}
                {% if bloqueados.TarjetaGrafica %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.TarjetaGrafica }}</td>
                    <td>Tarjeta gráfica</td>
                </tr>
                {% endif %}
                {% if bloqueados.Impresora %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.Impresora }}</td>
                    <td>Impresora</td>
                </tr>
                {% endif %}
                {% if bloqueados.Archivos %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.Archivos }}</td>
                    <td>Archivos</td>
                </tr>
                {% endif %}
                {% if bloqueados.Red %}
                <tr>
                    <td>.</td>
                    <td>{{ bloqueados.Red }}</td>
                    <td>Red</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
    <section id="proceso-en-terminado">
        <h2>Terminado</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for proceso in terminados %}
                <tr>
                    <td>{{ proceso.get_id_proceso() }}</td>
                    <td>{{ proceso.get_nombre_proceso() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}