<h2>{{ titulo }}</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tamaño</th>
            <th>Prioridad</th>
            <th>Recursos</th>
        </tr>
    </thead>
    <tbody>
        {% for hilo in hilos %}
        <tr>

            <td>{{ hilo.get_id_hilo() }}</td>
            <td>{{ hilo.get_nombre_hilo() }}</td>
            <td>{{ hilo.get_tamano_hilo() }}</td>
            <td>{{ hilo.get_prioridad_hilo() }}</td>
            <td>
            {% for recurso in hilo.get_recursos_necesarios_hilo() %}
            {% if hilo.get_recursos_necesarios_hilo() == hilo%}
            {{ recurso.get_nombre_recurso() }}: Asignado.
            {% else %}
            {{ recurso.get_nombre_recurso() }}: Necesario.
            {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>